body {
    margin: 0;
    overflow-x: hidden;
    font-family: gotham;
}
textarea {
    resize: none;
    font-size:50px;
    width: 100%;
    height: 100%;
  }

.background {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin: 0;
    z-index: 0;
    animation: loop;
    border-bottom: 5px solid darkblue;
    animation-duration: 10s;
    animation-delay: 0ms;
    transition-timing-function: cubic-bezier(.88,.9,.68,-0.45);
    animation-iteration-count: infinite;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    padding-top: 5%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16em 5em 5em 5em;
    grid-gap: calc(25px + 0.390625vw);
}

.logo {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 auto;
    display: block;
    width: 40%;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;

}

.header {
    grid-column-start: 2;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    z-index: 1;
}

.header.style-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 3%;
    font-size: 2.5em;
    font-weight: 300;
}

.header.style-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 3%;
    font-size: 1.8em;
    font-weight: 500;
}
.header.style-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 3%;
    font-size: 1.8em;
    font-weight: 500;
}

.button {
    font-family: gotham;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 50%;
    height: 130%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid #B2782C;
    background-color: rgba(222, 187, 99, 0);
    color: #B2782C;
    transition: 0.5s;
    border-radius: 50px;
    z-index: 1;
}

.button:hover{
    background-color: rgba(222, 187, 99, 0.29);
    font-size: 1.7em;
    cursor: pointer;
}

@keyframes loop{
    100% {
        width: 100%;
    }

    50% {
        width: 120%;
    }

    25% {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .background {
        animation: none;
    }
    .logo {
        width: 80%;
    }
    .header.style-2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .button {
        font-size: 1.3em;
        width: 70%;
    }
    .button:hover{
        font-size: 1.4em;
    }
    
}

@media only screen and (max-width: 600px) {
    .background {
        animation: none;
    }
    .container {
        padding-top: 20%;
    }
    .logo {
        width: 100%;
    }
    .header.style-1 {
        font-size: 2.7em;
    }
    .button {
        font-size: 1.1em;
        width: 100%;
    }
    .button:hover{
        font-size: 1.2em;
    }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.bar {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
  }
  
  .bar { position: relative; }
  div.close {
    position: absolute;
    top: 7%;
    right: 10px;
    margin: 0 auto;
    color: #888;
    cursor: pointer;
  }
  
  i.ico {
    display: inline-block;
    width: 20px;
    text-align: center; 
    font-style: normal;
    font-weight: bold;
  }
  
  .error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }
  
  :root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }